
/* Your CSS Code here. */
.moviePic {
	height:400px;
	width:280px;
	opacity: 0.9;
	display: block;
	margin: 40px auto 20px;
	border-radius: 20px;
}
.movieDetail {
	  position: relative;
            top: 10px;
            width: 100%;
            margin: auto;
            text-align: center;
            font-size: 18px;
            line-height: 1.6;
            color: #333;
}